* {
    font-family: Arial, Helvetica, sans-serif;

}
body {
    width: 99%;
}

header {
    position: fixed;
    width: 99%;
    top: 0;
    margin-top: 5px;
    color: midnightblue;
    background-color: lightgreen;
    border-style: solid;
    border-color: darkblue;
}

h1, h3 {
    font-weight: bolder;
    text-align: center;
}

main {
    background-color: antiquewhite;
    border-style: solid;
    border-color: darkgoldenrod;
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 30px;
}

footer {
    color: midnightblue;
    background-color: lightgreen;
    border-style: solid;
    border-color: darkblue;
    margin-top: 10px;
}

h4 {
    font-style: italic;
}

nav {
    text-align: right;
    margin-right: 50px;
}

ul {
    list-style: none;
}
li {
    display: inline;
}

.inputBlock {
   margin-top: 30px;
}

.navButton {
    box-align: right;
    background-color: beige;
    padding: 5px;
    border-style: solid;
    border-color: darkblue;
    margin: 5px;
}

.navText {
    text-decoration: none;
}

#pictureBox {
    background-color: azure;
    border-style: solid;
    border-color: dodgerblue;
    padding-top: 30px;
    padding-left: 30px;
    margin-top: 130px;
    margin-bottom: 10px;
    }

#sendButton {
    margin-top: 15px;
}